*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section
{
  height: 100vh;
}
span{
  position: absolute;
  pointer-events: none;
  background: rgb(255, 255, 255);
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%{
      transform: scale(0) translateY(0) rotate(0deg);
      opacity: 0;
  }
  10%{
      opacity: 1;
  }
  90%{
      opacity: 1;
  }
  100%{
      transform: scale(1) translateY(-500%) rotate(360deg);
      opacity: 0;
  }
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: rgb(0, 0, 0);;
    font-size: 120%;
    overflow: hidden;
  }
  
  .card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    z-index: 999;
    box-shadow: 0 4px 8px 4px #b8b894;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  
  button:hover {
    background: #7c7c7c6b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  